 body{
	 background-color: FFFF99;
 }
 p {  
font-family: san-selif, Arial;
font-size: 15px;
color: #222222;
}

h1 {
	text-align: center;
}
h2{
	font-family: san-selif, Arial;
	color: rgb(155, 50, 60);
}


h3 {
	font-family: san-selif, Arial;
	color: rgb(155, 50, 60);
}



    